<% content_for :navs do %>
  <li><a href="/index.html">近期文章</a></li>
  <li class='active'><a href="/categories.html">所有文章</a></li>
  <li><a href="/about.html">关于我</a></li>
<% end %>

<% wrap_layout :layout do %>
  <article class='article-container clearfix row'>
    <div class="span1 date">
      <span class='month'><%= current_page.date.strftime('%b').upcase %><span>
      <span class="day"><%= current_page.date.strftime('%e') %></span>
      <span class="year"><%= current_page.date.strftime('%Y') %></span>
    </div>
    <div class="span7">
      <h2><%= current_page.title %></h2>
      <%= yield %>
    </div>
    <div class="span3 right-col">
      <div class="about">
        <h4>关于我</h4>
        <div class="name">姜鹏</div>
        <div class="name">Developer in ThoughtWorks</div>
      </div>
      <div class="recent">
        <h4>最近的文章</h4>
        <ol>
          <% blog.articles[0...10].each do |article| %>
            <li><%= link_to article.title, article %></li>
          <% end %>
        </ol>
      </div>
    </div>
    
  </article>
  <div class="rows">
    <div class="span1"></div>
    <div class="span7"><%= partial "disqus" %></div>
    <div class="span3"></div>
  </div>
  
<% end %>