<% articles.each_with_index do |article, i| %>
  <% column_pos = i.even? ? 'left' : 'right' %>
  <% arrow_pos = i.even? ? 'right' : 'left' %>
  <% if i.even? %>
    <div class='rows clearfix blog-line'>
  <% end %>
    <div class="span5 blog-item pull-<%= column_pos %> <%= column_pos %>-column">
      <div class="arrow-<%= arrow_pos %>"></div>
      <div class="title-area">
        <h3><%= link_to article.title, article %> </h3>
      </div>
      <div class="content-area">
        <%= article.summary(250) %>  
      </div>
      <div class="tag-area">
        <ul class= 'pull-left'>
          <% article.tags.each do |tag| %>
            <li class='tag'><%= link_to tag, tag_path(tag) %></li>
          <% end %>
        </ul>
        <span class='continue pull-right'><%= link_to '继续阅读 >>', article %> </span>
      </div>
      <div class="timeline-point <%= column_pos %>">
        <div class='publish-date'>
          <%= article.date.strftime('%e') %><br /><%= article.date.strftime('%b') %>
        </div>
      </div>
    </div>
  <% unless i.even? %>
    </div>
  <%end%>
<% end %>
