<!doctype html>
<html xmlns:wb=“http://open.weibo.com/wb”>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="keywords" content="jiang peng,姜鹏,warmwind,<%= yield_content :keywords %>">
    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag "application" %>
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://squaresend.com/squaresend.js"></script>
    <% title = yield_content :title %>
    <title><%= title.present? ? title : current_page.data.title %> - Jiang Peng</title>

  </head>
  <body>
    <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/"><%= gravatar_tag 'pengj0520@gmail.com', :size => 60 %>
            <span class="title">Jiang Peng's Warm Wind</span>
          </a>
          <ul class="nav nav-pills pull-right">
            <%= yield_content :navs %>
          </ul>
        </div>
      </div>
    </header>
    <div class="container main-content">
      <%= yield %>
    </div>
    <%= yield_content :scripts %>
    <%= partial "ga" %>
  </body>
</html>
